[Unit]
Description=Personal Newsmap
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/ubuntu/newsmap-js
ExecStart=/usr/bin/node server.js
Restart=on-failure
RestartSec=5
Environment=NODE_ENV=production
Environment=PORT=3000

[Install]
WantedBy=default.target
